<div class="container container-bg">
    <div class="create-block">
        <form class="well login-form class="controls"" action="/create" method="post" accept-charset="utf-8">
            <label class="form-title">註冊帳號 </label>
            <input type="email"  placeholder="Email" maxlength="50" name="email"><br/>
            <!-- a<input type="text"  placeholder="帳號" maxlength="10" name="login" ><br/> -->
            <input type="password"  placeholder="密碼" maxlength="12" name="password"><br/>
            <input type="text"  placeholder="暱稱" maxlength="10" name="nickname" ><br/> 
            <!-- <span class="help-inline">Please correct the error</span> -->
            <button id="login-btn" type="submit" class="btn btn-large btn-success">
                Register
            </button>
            <br/>
        </form>
        <a id="register-btn" href="/">Login</a>
    </div>
</div>
